


<h1><%= @search.title %></h1>
<h3>Address: <%= @search.full_address %></h3>
<p>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCuEtLjJSQSbK5lUfK91fiuOUht2NOeGck
    &q=<%= @search.full_address %>" allowfullscreen>
</iframe>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyCuEtLjJSQSbK5lUfK91fiuOUht2NOeGck
  &location=<%= @search.latitude %>,<%= @search.longitude %>
  &heading=210
  &pitch=10
  &fov=35" allowfullscreen>
</iframe>
</p>

<p><%= link_to 'Back', stores_path, class: "btn btn-info" %></p>
