<h1><%= @book.title %></h1>

<h3>Written by: <%= @book.author.name %></h3>

<h4>Summary:</h4>

<p><%= @book.summary %></p>

<h4>Price: <%= number_to_currency(@book.price) %></h4>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

  </article>

  <%= hidden_field_tag :book_id, @book.id %>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>

<%= link_to 'Back', books_path, class: "btn btn-info"%>
